@import 'variables';

.footer-row{
  background:$blue-gray;
  margin:0px;
  display:block;
  width:100%;
  padding:2em;  
  margin-top:1em;
  right: 0;
  left: 0;
  bottom: 0;
}

.footer{
  right: 0;
  left: 0;
  bottom: 0;
  display:block;
  white-space: nowrap;
  word-wrap:break-word;



    .column-divs{
      padding-left:0px !important;

      .column-header{
        font-family: 'Brandon Grotesque';
        font-weight:600;
        font-size:0.5em;
        color: $darker-blue;
      }

      .link-list li{
        font-family: 'Brandon Grotesque Regular';
        transition: all 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        color:$dark-blue;
        font-size:0.5em;
        cursor:pointer;
        line-height:25px;

        &:hover{
          color: $crimson;
        };
      }
    }
}



